################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

# vs solution
.vs/

# .NET output
obj/
bin/

#notepad++
*.bak
/WebAPI/.vscode
