################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

# vs solution
.vs/
/WebAPI/.vscode

# .NET output
obj/
bin/

# notepad++
*.bak

# SPA page
/wwwroot/UI
/WebAPI/GSOP.Interfaces.API/wwwroot/UI/static/js
/WebAPI/GSOP.Interfaces.API/wwwroot/UI
